**/log/*
**/tmp/*
**/storage/*
**/public/packs
**/public/assets
**/tmp/pids/*
**/tmp/cache/*
**/tmp/sockets/*
**/config/master.key
**/config/credentials/*.key
**/*.sqlite3
**/*.sqlite3-*
**/coverage/
**/spec/examples.txt
**/.bundle
**/vendor/bundle
**/.byebug_history
**/.pry_history
**/node_modules
**/yarn-error.log
docker-data/
*.pid
*.sock
.DS_Store
Thumbs.db
.vscode/
.idea/
*.temp
*.tmp
*.swp
*.swo
*.bak
*.log
*.gem
.bundle/
.ruby-version
.ruby-gemset
services/**/.git
services/order_service/log/development.log
services/order_service/log/development.log
services/order_service/tmp/cache/bootsnap/load-path-cache
