default: &default
  adapter: postgresql
  encoding: unicode
  username: postgres
  password: postgres
  host: customer-db
  pool: 5

development:
  <<: *default
  database: customer_service_development
